@mixin index-item {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 5.5rem;
}

.postExcerpt {
    @include index-item;
}

.paginator {
    @include index-item;
}
