@mixin container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.header {
    @include container;

    margin-bottom: 2.1rem;
}

.main {
    @include container;

    .postExcerpt {
        @include container;

        margin-bottom: 5.5rem;
    }
}

.paginator {
    @include container;

    margin-bottom: 5.5rem;
}
