@import '../styles/fonts';
@import '../styles/colors';

.header {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 5.5rem;
}

.main {
    align-items: stretch;
    color: $color-content-body;
    display: flex;
    flex-direction: column;
    margin-bottom: 5.5rem;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer {
    margin-bottom: 5.5rem;
}