.header {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.1rem;
}

@mixin index-item {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 5.5rem;
}

.taxonomySummary {
    @include index-item;
}

.paginator {
    @include index-item;
}
