@import '../styles/responsive';

@mixin index-item {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.index {
  @include index-item;

  margin-top: 5.5rem;

  @media (max-width: $mobile-max) {
    margin-top: 2.1rem;
  }

  .header {
    @include index-item;

    margin-bottom: 2.1rem;
  }

  .taxonomySummary {
    @include index-item;

    margin-bottom: 5.5rem;
  }

  .paginator {
    @include index-item;

    margin-bottom: 5.5rem;
  }
}

.taxonomies {
  @include index-item;
  margin-top: 5.5rem;

  @media (max-width: $mobile-max) {
    margin-top: 2.1rem;
  }
}

.taxonomiesList {
  @include index-item;
  margin-bottom: 2.1rem;
}

.taxonomyItem {
  @include index-item;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  border-radius: 4px;
}

.taxonomyName {
  margin: 0;
  font-size: 1.2em;
  font-weight: 600;
}
