$gray-lightest:     #f8f8f8;
$gray-lighter:      #eee;
$gray-light:        #ddd;
$gray:              #ccc;
$gray-dark:         #999;
$gray-darker:       #666;
$gray-darkest:      #333;

$green:             #156f78;
$purple:            #493252;
$red:               #e25440;
$orange:            #fb9c50;
$slate:             #3d4260;
$blue:              #2568a3;
$cat-red:           #bf1827;
$shallow-red:       #ce404b;
$light-red:         #d95059;

$primary-color:     $light-red;
$secondary-color:   #5ba4e5;

$link-color:        $primary-color;
$hover-color:       darken($link-color, 15%);
$body-color:        darken($gray-darker, 30%);

$black:             #000;
$white:             #fff;
$gray-8:            #141414;
$gray-13:           #212121;
$gray-21:           #363636;
$gray-34:           #575757;
$gray-55:           #8c8c8c;
$gray-89:           #e3e3e3;

