@import 'fonts';
@import 'colors';

html {
    font-family: $font-ui-sans;
    font-size: 62.5%;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

span.katex-display {
    margin: 0;
    margin-top: 4.5rem;
    margin-bottom: 4.9rem;
    margin-left: -2.1rem;
    margin-right: -2.1rem;
    padding: 2.1rem;
    color: $color-content-heading;
    background-color: $color-content-math-block-background;
    overflow-x: scroll;
}

p {
    span.katex {
        margin: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        font-size: 0.88em;
        line-height: 1.143;
        font-weight: 400;
        color: $color-content-heading;
        background-color: $color-content-math-block-background;
        border-bottom: solid 2px $color-content-math-block-indicator;
    }
}

.h1 {
    margin-top: 3.4rem;
    margin-bottom: 1.3rem;
}

.h2 {
    margin-top: 3.3rem;
    margin-bottom: 1.4rem;
}

.h3 {
    margin-top: 3.4rem;
    margin-bottom: 1.3rem;
}

.h4 {
    margin-top: 3.3rem;
    margin-bottom: 1.4rem;
}

.h5 {
    margin-top: 3.3rem;
    margin-bottom: 1.4rem;
}

.h6 {
    margin-top: 3.4rem;
    margin-bottom: 1.3rem;
}

.textParagraphTop {
    margin-top: 1.3rem;
}

.textParagraphBottom {
    margin-bottom: 1.3rem;
}

.geometryBlockTop {
    margin-top: 2.4rem;
}

.geometryBlockBottom {
    margin-bottom: 2.3rem;
}

.separator {
    margin-top: 4.4rem;
    margin-bottom: 4.5rem;
}

.h1 + .geometryBlockTop {
    margin-top: 2.4rem;
}

.h2 + .geometryBlockTop {
    margin-top: 2.5rem;
}

.h3 + .geometryBlockTop {
    margin-top: 2.4rem;
}

.h4 + .geometryBlockTop {
    margin-top: 2.5rem;
}

.h5 + .geometryBlockTop {
    margin-top: 2.5rem;
}

.h6 + .geometryBlockTop {
    margin-top: 2.4rem;
}

.geometryBlockBottom + .geometryBlockTop {
    margin-top: 3.4rem;
}

.geometryBlockBottom + .separator {
    margin-top: 5.5rem;
}

.separator + .geometryBlockTop {
    margin-top: 5.5rem;
}

.separator + .separator {
    margin-top: 5.5rem;
}
