@import 'fonts';
@import 'colors';

html {
    font-family: $font-ui-sans;
    font-size: 62.5%;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

span.katex-display {
    margin: 0;
    margin-top: 4.5rem;
    margin-bottom: 4.9rem;
    margin-left: -2.1rem;
    margin-right: -2.1rem;
    padding: 2.1rem;
    color: $color-content-heading;
    background-color: $color-content-math-block-background;
    overflow-x: scroll;
}


p {
    span.katex {
        margin: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        font-size: 0.88em;
        line-height: 1.143;
        font-weight: 400;
        color: $color-content-heading;
        background-color: $color-content-math-block-background;
        border-bottom: solid 2px $color-content-math-block-indicator;
    }
}