@import '../styles/fonts';

.figcaption {
  margin-top: 2.1rem;

  span {
    font-family: $font-text-sans;
    font-size: 1.5em;
    font-weight: 300;
    line-height: calc(29 / 15);
    margin-bottom: -0.9rem;
    margin-top: -1.2rem;
  }
}
