@import '../styles/fonts';
@import '../styles/colors';

.blockquoteContainer {
    margin: 0;
    margin-top: 5.3rem;
    margin-bottom: 4.2rem;
    padding: 0;
    border-left: 3px solid $color-content-quote-indicator;
    border-collapse: collapse;
}
