@import '../styles/colors';

.category {
    a {
        color: $color-ui-caption-primary;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:visited {
            color: $color-ui-caption-primary;
        }

        &:hover,
        &:visited:hover {
            color: $color-hover;
            transition: color 0.3s ease-in-out;
        }
    }
}
