@import '../styles/colors';

.footer {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    padding-top: 5.3rem;
    padding-bottom: 5.2rem;
}

.contentFooterItem {
    margin-bottom: 0.8rem;

    &:last-child {
        margin-bottom: 0;
    }

    span {
        color: $color-ui-footnote;
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.18;

        a {
            color: $color-ui-footnote;
            transition: color 0.3s ease-in-out;

            &:visited {
                color: $color-ui-footnote;
            }

            &:hover,
            &:visited:hover {
                color: $color-hover;
                transition: color 0.3s ease-in-out;
            }
        }
    }
}
