@import '../styles/fonts';
@import '../styles/colors';

.footnotes {
    color: $color-content-footer-text;
    margin: 0;

    .footnoteList {
        list-style: none;
        margin: 0;
        padding: 0;

        .footnoteItem {
            align-items: stretch;
            display: flex;
            flex-direction: column;
            margin-bottom: 3.4rem;

            &:last-child {
                margin-bottom: 0;
            }

            .footnoteParagraph {
                align-items: baseline;
                color: $color-content-footer-text;
                display: flex;
                flex-direction: row;
                font-size: calc(15em / 17);
                line-height: call(29 / 15);
                margin-bottom: 2.1rem;
                margin-top: 0;

                &:last-child {
                    margin-bottom: 0;
                }

                .footnoteLabel {
                    font-family: $font-text-monospaced;
                    font-weight: 500;
                    margin-bottom: -0.9rem;
                    margin-top: -0.8rem;

                    &::before {
                        content: '[';
                    }

                    &::after {
                        content: ']';
                    }
                }

                .footnoteSpan {
                    font-family: $font-text-sans;
                    margin-bottom: -0.9rem;
                    margin-top: -0.8rem;
                }

                .footnoteBackReference {
                    font-family: $font-text-monospaced;
                    margin-bottom: -0.9rem;
                    margin-left: 0.5rem;
                    margin-top: -0.8rem;
                }
            }
        }
    }
}