@import '../styles/fonts';
@import '../styles/colors';

.licenseContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5.3rem;

    .licenseImage {
        margin-right: 1.3rem;
    }

    .licenseText {
        font-family: $font-text-monospaced;
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.18;
        color: $color-content-footer-text;
        text-transform: uppercase;
    }
}