@import '../styles/colors';
@import '../styles/fonts';

.list {
    align-items: stretch;
    color: $color-content-body;
    counter-reset: ordered-list;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    margin-bottom: 3.4rem;
    padding: 0;
}

.orderedList {
    counter-reset: ordered-list;
}
