@import '../styles/colors';

.app {
    width: 100%;

    .navigation {
        align-items: stretch;
        background: url('../../assets/images/background-cover.jpg') no-repeat $color-ui-nav-background;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 6.1rem;
        position: fixed;
        top: 0;
        width: 30%;

        .navigationBar {
            align-items: stretch;
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            margin-bottom: 2.8rem;
            margin-left: 5.5rem;
            margin-right: 3.4rem;
            margin-top: 2.6rem;
        }

        .tableOfContents {
            align-items: stretch;
            display: flex;
            flex-direction: column;
            margin-bottom: 6.1rem;
            margin-left: 5.5rem;
            margin-right: 3.4rem;
            margin-top: 2.8rem;
        }

        .navigationOverlay {
            align-items: flex-end;
            background-color: transparentize($color-theme, 0.8);
            background-image: linear-gradient(140deg, $color-theme-gradient-end 20%, $color-theme-gradient-end);
            bottom: 0;
            display: flex;
            flex-direction: column-reverse;
            height: 100%;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            width: 30%;
            z-index: -2;

            .siteInfo {
                align-items: stretch;
                color: $color-ui-nav-footnote;
                display: flex;
                flex-direction: column;
                margin-bottom: 3.1rem;
                margin-left: 5.5rem;
                margin-right: 3.4rem;
                text-align: right;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

                .copyright {
                    display: block;
                    font-size: 1.1em;
                    font-weight: 400;
                    line-height: 1.18;
                    margin-top: 1.5rem;
                }

                .slogan {
                    display: block;
                    font-size: 3em;
                    font-weight: 500;
                    line-height: 1.83;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .primary {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        margin-left: 30%;
        width: calc(70% * 0.618);

        .content {
            flex-grow: 1;

            .header {
                width: 100%;
            }

            .main {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-shrink: 0;
                width: 100%;
            }

            .footer {
                width: 100%;
            }
        }

        .pageInfo {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;

            .pageInfoItem {
                color: $color-ui-footnote;
                display: block;
                font-size: 1.1em;
                font-weight: 400;
                line-height: 1.18;
                margin-left: 5.5rem;
                margin-right: 5.5rem;
                margin-bottom: 0.8rem;

                &:first-child {
                    margin-top: 5.3rem;
                }

                &:last-child {
                    margin-bottom: 5.2rem;
                }

                a {
                    color: $color-ui-footnote;
                    transition: color 0.3s ease-in-out;

                    &:visited {
                        color: $color-ui-footnote;
                    }

                    &:hover,
                    &:visited:hover {
                        color: $color-hover;
                        transition: color 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
