@import '../styles/colors';

.math {
    background-color: $color-content-math-block-background;
    margin-left: -2.1rem;
    margin-right: -2.1rem;
    overflow-x: scroll;
    padding: 2.1rem;

    :global(.katex-display) {
        color: $color-content-math;
        margin: 0;
    }
}
