@import '../styles/colors';

.metadataItem {
    display: inline-block;

    &::after {
        color: $color-ui-caption-separator;
        content: '•';
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }

    &:only-child {
        &::after {
            content: none;
            margin: 0;
        }
    }

    &:last-child {
        &::after {
            content: none;
            margin: 0;
        }
    }
}
