.morePostsContainer {
    display: flex;
    margin-bottom: 0;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    margin-top: 0;
    padding-bottom: 5.2rem;

    .morePostItemContainer {
        display: inline-block;
        margin-right: 3.4rem;
        width: calc(50% - 3.4rem);

        &:last-child {
            margin-right: 0;
        }
    }
}
