@import '../styles/fonts';
@import '../styles/colors';

.morePostItem {
    &:last-child {
        margin-bottom: 0;
    }

    .caption {
        color: $color-tint;
        display: block;
        font-family: $font-ui-sans;
        font-size: 1.5em;
        line-height: 1.2;
        margin-bottom: 2rem;
        text-align: left;
        text-transform: uppercase;
    }
}
