@import '../styles/colors';

.morePostsContainer {
    display: flex;
    margin-bottom: 0;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    margin-top: 0;
    padding-bottom: 5.2rem;

    .morePostItemContainer {
        display: inline-block;
        margin-right: 3.4rem;
        width: calc(50% - 3.4rem);

        &:last-child {
            margin-right: 0;
        }
    }

    .separator {
        border: 0;
        border-top: 1px solid $_gray-89;
        display: flex;
        margin-bottom: 0;
        margin-left: 5.5rem;
        margin-right: 5.5rem;
        margin-top: 0;
        padding: 0;
        width: calc(100% - 11rem);
    }
}
