@import '../styles/colors';
@import '../styles/animations';
@import '../styles/responsive';

@mixin container-column-stretch {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

@mixin container-row-stretch {
  align-items: stretch;
  display: flex;
  flex-direction: row;
}

@mixin container-row-center {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flexWrapper {
  @include container-column-stretch;

  height: 100%;
  position: fixed;
  top: 0;
  width: 30%;

  @media (max-width: $mobile-max) {
    background-color: white;
    height: 44px;
    overflow: hidden;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    width: 100vw;
    padding-top: env(safe-area-inset-top);
    z-index: 999;
  }

  .menu {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 0;
    margin-left: 3.4rem;
    margin-right: 3.4rem;
    margin-top: 3.4rem;

    @media (max-width: $mobile-max) {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 44px;
      max-width: 100vw;
      margin: 0;
      margin-left: calc(2.1rem + env(safe-area-inset-left));
      margin-right: calc(2.1rem + env(safe-area-inset-right));
    }

    .navButton {
      display: none;
      width: 44px;
      height: 44px;

      @media (max-width: $mobile-max) {
        display: flex;
        margin-left: -1.5rem;
        margin-right: 2.1rem;
        transition: all 0.3s ease-in;
        z-index: 999;
      }
    }

    .siteTitle {
      display: flex;

      @media (max-width: $mobile-max) {
        transition: all 0.3s ease-in;
      }
    }

    .tocButton {
      display: none;
      width: 44px;
      height: 44px;

      @media (max-width: $mobile-max) {
        display: flex;
        margin-left: 2.1rem;
        margin-right: -1.5rem;
        transition: all 0.3s ease-in;
        z-index: 999;
      }
    }
  }

  .navigation {
    @include container-row-stretch;

    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 0;
    margin-left: 3.4rem;
    margin-right: 3.4rem;
    margin-top: 3.4rem;

    @media (max-width: $mobile-max) {
      margin: 0;
      margin-top: 44px;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      transition: all 0.3s ease-in;
    }
  }

  .tableOfContents {
    @include container-row-stretch;

    flex-grow: 1;
    justify-content: flex-end;
    margin-bottom: 6.3rem;
    margin-left: 3.4rem;
    margin-right: 3.4rem;
    margin-top: 3.4rem;

    @media (max-width: $small-screen-max) {
      margin-left: 0;
    }

    @media (max-width: $mobile-max) {
      margin: 0;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      transition: all 0.3s ease-in;
    }
  }

  &.isButtonSelected {
    @media (max-width: $mobile-max) {
      height: 100vh;
      transition: all 0.3s ease-in, background 0.5s ease-in;
    }

    .siteTitle {
      opacity: 0;
      transform: scale(1.15) translateY(-30px);
      transition: transform 0.5s $cubic, opacity 0.6s $cubic;
    }
  }

  &.isNavButtonSelected {
    .menu {
      .tocButton {
        opacity: 0;
        transform: translateX(44px);
        transition: all 0.3s ease-in;
      }
    }

    .tableOfContents {
      display: none;
      opacity: 0;
      transition: all 0.3s ease-in;
      pointer-events: none;
    }

    .navigation {
      display: flex;
      opacity: 1;
      transition: all 0.3s ease-in;
      pointer-events: auto;
    }
  }

  &.isTocButtonSelected {
    .menu {
      .navButton {
        opacity: 0;
        transform: translateX(-44px);
        transition: all 0.3s ease-in;
      }
    }

    .tableOfContents {
      display: flex;
      opacity: 1;
      transition: all 0.3s ease-in;
      pointer-events: auto;
    }

    .navigation {
      display: none;
      opacity: 0;
      transition: all 0.3s ease-in;
      pointer-events: none;
    }
  }

  &.bordered {
    @media (max-width: $mobile-max) {
      border-bottom: 0.5px solid transparentize(black, 0.9);
      transition: all 0.1s ease-in;
    }
  }

  &.errorCode404 {
    width: 100%;
  }
}

@supports (
  (-webkit-backdrop-filter: blur(1.8em)) or (backdrop-filter: blur(2em))
) {
  .flexWrapper {
    @media (max-width: $mobile-max) {
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
      background-color: transparentize(white, 0.7);
    }
  }
}
