@import '../styles/fonts';
@import '../styles/colors';

.navigationBar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.navigationBar a {
    color: $white;
    text-decoration: none;

    &:after {
        content: "";
        display: inline-block;
        width: 0.13em;
        height: 0.7em;
        background: $white;
        margin-left: 0.77em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    &:hover {
        color: $primary-color;
        transition: color .3s;

        &:after {
            background: $primary-color;
            transition: background .3s;
        }
    }
}

.siteTitle {
    margin-left: 0;
    flex-direction: row-reverse;
    margin-bottom: 2.8em;
}

.siteTitle label {
    font-size: 3em;
    line-height: 0.7em;
}

.navigationContent {

}

.navigationContent ol {
    margin: 0;
    list-style: none;
}

.navigationContent li {
    margin-bottom: 2.8em;
    margin-left: 0;
    display: flex;
    flex-direction: row-reverse;
}

.navigationItem {
    font-size: 3em;
    line-height: 0.7em;
}