@import '../styles/colors';
@import '../styles/fonts';

.orderedList {
    color: $color-content-body;
    counter-reset: ordered-list;
    list-style: none;
    padding: 0;

    li {
        display: table;
        line-height: 1.7;
        margin-bottom: 0.6rem;

        &::before {
            color: $color-content-list-indicator-dark;
            content: counters(ordered-list, ".") " ";
            counter-increment: ordered-list;
            display: table-cell;
            font-family: $font-text-monospaced;
            font-size: 0.88em;
            padding-right: 1.3rem;
        }
    }
}
