@import '../styles/fonts';
@import '../styles/colors';

.document {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    margin-top: 4rem;

    .header {
        .title {
            color: $color-content-headline-primary;
            font-family: $font-text-sans;
            font-size: 3.9em;
            font-weight: 400;
            line-height: calc(39 / 48);
            margin: 0;
        }

        .subtitle {
            color: $color-content-headline-secondary;
            font-family: $font-text-sans;
            font-size: 2.4em;
            font-weight: 300;
            line-height: calc(32 / 24);
            margin: 0;
            margin-top: 1.2rem;
        }
    }

    .caption {
        margin-top: 4rem;
    }

    .title + .caption {
        margin-top: 4.3rem;
    }

    .subtitle + .caption {
        margin-top: 4.6rem;
    }

    .content {
        font-family: $font-text-sans;
        font-size: 1.7em;
        line-height: 1.7;
        margin-bottom: 5.5rem;
        margin-top: 5.5rem;

        a {
            color: $color-tint;
            text-decoration: underline;
            transition: color 0.3s ease-in-out;

            &:visited {
                color: $color-tint;
            }

            &:hover,
            &:visited:hover {
                color: $color-hover;
                transition: color 0.3s ease-in-out;
            }
        }
    }
}
