@import '../styles/colors';
@import '../styles/fonts';

.paginator {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    margin-bottom: 5.2rem;

    .previousPageTitle {
        display: inline-block;
        margin-right: 1.3rem;
        text-transform: uppercase;

        a::before {
            content: "<";
            margin-right: 0.5rem;
            vertical-align: 0.05rem;
        }
    }

    .pageIndicator {
        display: inline-block;
        color: $color-ui-caption-secondary;
    }

    .nextPageTitle {
        display: inline-block;
        margin-left: 1.3rem;
        text-transform: uppercase;

        a::after {
            content: ">";
            margin-left: 0.5rem;
            vertical-align: 0.05rem;
        }
    }

    a {
        text-decoration: none;
        color: $color-ui-caption-primary;
        transition: color 0.3s ease-in-out;

        &:visited {
            color: $color-ui-caption-primary;
        }

        &:hover,
        &:visited:hover {
            color: $color-hover;
            transition: color 0.3s ease-in-out;
        }
    }

    span {
        font-weight: 500;
        font-size: 1.1em;
        line-height: 1.18;
    }
}
