@import '../styles/fonts';
@import '../styles/colors';

.postExcerptItem {
    margin-bottom: 5.1rem;
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }

    .postExcerptHeader {
        a {
            h1,
            h2 {
                margin: 0;
                display: inline-block;
                transition: color 0.3s ease-in-out;
            }

            h1 {
                color: $color-ui-main-headline-primary;
                font-size: 2.4em;
                font-weight: 500;
                line-height: 0.875;
            }

            h2 {
                color: $color-ui-main-headline-secondary;
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.2;
                margin-left: 1.3rem;
            }

            &:visited {
                h1 {
                    color: $color-ui-main-headline-primary;
                }

                h2 {
                    color: $color-ui-main-headline-secondary;
                }
            }

            &:hover,
            &:visited:hover {
                h1,
                h2 {
                    color: $color-hover;
                    transition: color 0.3s ease-in-out;
                }
            }
        }
    }

    .postExcerptBody {
        margin-top: 1.2rem;

        p {
            a {
                text-decoration: none;
                color: $color-content-summary;
                font-family: $font-text-serif;
                font-size: 1.7em;
                line-height: 2;
                margin: 0;
                transition: color 0.3s ease-in-out;

                &:visited {
                    color: $color-content-summary;
                }

                &:hover,
                &:visited:hover {
                    color: $color-hover;
                    transition: color 0.3s ease-in-out;
                }
            }
        }
    }

    .postExcerptFooter {
        margin-top: 2.5rem;
    }
}
