@import '../styles/document';
@import '../styles/fonts';
@import '../styles/colors';
@import './HorizontalScroller.module.scss';

.post {
    margin-top: 4rem;
    margin-left: 5.5rem;
    margin-right: 5.5rem;

    .postHeader {
        .postTitle {
            h1 {
                font-family: $font-text-serif;
                font-size: 4.4em;
                font-weight: 300;
                line-height: 1.18;
                color: $color-content-headline-primary;
                margin: 0;
            }
        }

        .postSubtitle {
            h2 {
                font-family: $font-text-serif;
                font-size: 2.8em;
                font-weight: 300;
                line-height: 1.46;
                color: $color-content-headline-secondary;
                margin: 0;
                margin-top: 0.5rem;
            }
        }
    }

    .postCaption {
        margin-top: 4rem;
    }

    .postContent {
        margin-top: 4.1rem;
        margin-bottom: 4.1rem;
        font-size: 1.7em;
        font-family: $font-text-serif;
        line-height: 1.7;

        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }

        p {
            margin-left: 0;
            margin-right: 0;
            color: $color-content-body;
        }

        code {
            font-family: $font-text-monospaced;
            font-weight: 400;
            font-size: 0.76em;
            line-height: 2.23;
            background-color: $color-content-code-block-background;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            margin-left: 0.3rem;
            margin-right: 0.3rem;
            border-left: solid 2px $color-content-code-block-indicator;
            border-right: solid 2px $color-content-code-block-indicator;
            word-wrap: break-word;
        }

        :global {
            .horizontalScroller {
                margin-top: 4.5rem;
                margin-bottom: 4.4rem;
            }
        }

        h2 {
            margin-top: 3.8rem;
            margin-bottom: 0.3rem;
        }

        h3 {
            margin-top: 3.2rem;
            margin-bottom: -0.2rem;
        }

        h4 {
            margin-top: 3.2rem;
            margin-bottom: -0.2rem;
        }

        h5 {
            margin-top: 3.2rem;
            margin-bottom: -0.3rem;
        }

        h6 {
            margin-top: 3.3rem;
            margin-bottom: -0.2rem;
        }

        blockquote {
            margin-left: 0;
            margin-right: 0;
            padding: 0;
            padding-left: 3.4rem;
            padding-top: 1.1rem;
            padding-bottom: 1rem;
            border-left: 3px solid $color-content-quote-indicator;
            border-collapse: collapse;
            font-weight: bold;
            font-style: italic;
            color: $color-content-quote;
        }

        ul {
            padding: 0;
            list-style: none;
            color: $color-content-body;

            li {
                margin-bottom: 0.6rem;
                line-height: 1.7;

                &::before {
                    content: "\2022";
                    color: $color-content-list-indicator-light;
                    margin-left: 2.1rem;
                    margin-right: 1.3rem;
                }
            }

            ul, ol {
                margin: 0;
                margin-top: 0.6rem;
                padding-left: 5.5rem;

                &:first-child {
                    margin-top: 0.6rem;
                }
            }
        }

        ol {
            padding: 0;
            list-style: none;
            color: $color-content-body;

            counter-reset: ordered-list;

            li {
                margin-bottom: 0.6rem;
                line-height: 1.7;

                &::before {
                    counter-increment: ordered-list;
                    content: counters(ordered-list, ".") " ";
                    color: $color-content-list-indicator-dark;
                    margin-left: 2.1rem;
                    margin-right: 1.3rem;
                    font-family: $font-text-monospaced;
                    font-size: 0.88em;
                }
            }

            ul, ol {
                margin: 0;
                margin-top: 0.6rem;
                padding-left: 5.5rem;

                &:first-child {
                    margin-top: 0.6rem;
                }
            }
        }

        hr {
            border: 0;
            text-align: center;

            &:before {
                margin: auto;
                display: inline-block;
                content: ". . .";
                position: relative;
                top: -2.8rem;
                font-size: 1.65em;
                font-weight: 600;
                color: $color-content-divider;
            }
        }

        a {
            text-decoration: underline;
            color: $color-tint;
            transition: color 0.3s ease-in-out;

            &:visited {
                color: $color-content-body;
            }

            &:hover,
            &:visited:hover {
                color: $color-hover;
                transition: color 0.3s ease-in-out;
            }
        }
    }

    .postFooter {
        margin-bottom: 5.2rem;
    }

    .postLicense {

    }
}

.morePostsContainer {

}