@import '../styles/colors';

.postExcerptMetadata {
    align-items: stretch;
    display: flex;
    flex-direction: column;

    .postExcerptMetadataLine {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        margin-bottom: 2.1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
