@import '../styles/fonts';
@import '../styles/colors';

.post {
    margin-top: 4rem;
    margin-left: 5.5rem;
    margin-right: 5.5rem;

    .postHeader {
        .postTitle {
            h1 {
                font-family: $font-text-serif;
                font-size: 4.4em;
                font-weight: 300;
                line-height: 1.18;
                color: $color-content-headline-primary;
                margin: 0;
            }
        }

        .postSubtitle {
            h2 {
                font-family: $font-text-serif;
                font-size: 2.8em;
                font-weight: 300;
                line-height: 1.46;
                color: $color-content-headline-secondary;
                margin: 0;
                margin-top: 0.5rem;
            }
        }
    }

    .postCaption {
        margin-top: 4rem;
    }

    .postContent {
        margin-top: 4.1rem;
        margin-bottom: 4.1rem;
        font-size: 1.7em;
        font-family: $font-text-serif;
        line-height: 1.7;

        p {
            margin-left: 0;
            margin-right: 0;
            color: $color-content-body;
        }

        picture {
            display: block;
            width: calc(100% + 2.1rem * 2);
            margin-left: -2.1rem;
            margin-right: -2.1rem;
        }

        a {
            text-decoration: underline;
            color: $color-tint;
            transition: color 0.3s ease-in-out;

            &:visited {
                color: $color-tint;
            }

            &:hover,
            &:visited:hover {
                color: $color-hover;
                transition: color 0.3s ease-in-out;
            }
        }
    }

    .postFooter {
        margin-bottom: 5.2rem;
    }

    .postLicense {

    }
}

.morePostsContainer {

}