@import '../styles/fonts';
@import '../styles/colors';

.content {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    font-family: $font-text-serif;
    font-size: 1.7em;
    line-height: 1.7;
    margin-bottom: 5.5rem;
    margin-top: 5.5rem;
}
