@import '../styles/colors';

.postExcerptMetadata {

}

.postExcerptMetadataLine {
    margin-bottom: 1.6em;

    &:last-child {
        margin-bottom: 0;
    }
}

.postExcerptMetadataItem {
    display: inline-block;

    &:after {
        color: $gray89;
        content: '•';
        margin-left: .8em;
        margin-right: .8em;
    }

    &:last-child {
        &:after {
            content: none;
            margin: 0;
        }
    }
}
