@import '../styles/colors';

.separator {
    border: 0;
    text-align: center;

    &::before {
        color: $color-content-divider;
        content: ". . .";
        display: inline-block;
        font-size: 1.65em;
        font-weight: 600;
        margin: auto;
        position: relative;
        top: -2.8rem;
    }
}
