@import '../styles/colors';

.separator {
    border: 0;
    text-align: center;

    &:before {
        margin: auto;
        display: inline-block;
        content: ". . .";
        position: relative;
        top: -2.8rem;
        font-size: 1.65em;
        font-weight: 600;
        color: $color-content-divider;
    }
}
