@import '../styles/fonts';
@import '../styles/colors';

.siteFooter {
    align-items: stretch;
    color: $color-ui-nav-footnote;
    display: flex;
    flex-direction: column;
    text-align: right;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    .copyright {
        display: block;
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.18;
        margin-top: 1.5rem;
    }

    .slogan {
        display: block;
        font-size: 3em;
        font-weight: 500;
        line-height: 1.83;
        margin: 0;
        padding: 0;
    }
}
