@import '../styles/fonts';
@import '../styles/colors';

.sourceCode {
    display: flex;
    flex-direction: row;

    font-family: $font-text-monospaced;
    font-size: 0.824em;
    font-weight: 400;
    line-height: 2.07;
    padding-top: 1.9rem;
    padding-bottom: 1.8rem;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    margin-top: 4.5rem;
    margin-bottom: 4.9rem;
    margin-left: -2.1rem;
    margin-right: -2.1rem;

    background-color: $color-content-code-block-background;
    overflow-x: scroll;

    .lineNumberList {
        display: inline-block;
        margin: 0;
        counter-reset: codeblock;

        .lineNumber {
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            margin-bottom: 0;

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                counter-increment: codeblock;
                content: counter(codeblock);
                color: $color-content-code-block-line-number;
                margin-right: 2.1rem;
                text-align: right;
            }
        }
    }

    .codeContent {
        display: inline-block;
        margin: 0;
        padding-right: 3.4rem;
        color: $color-content-body;

        .line {
            margin-bottom: 0;

            &:last-child {
                margin-bottom: 0;
            }

            .token {

            }
        }
    }
}