@import '../styles/colors';
@import '../styles/fonts';

@mixin container-column-stretch {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.tableOfContents {
    @include container-column-stretch;

    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    flex-grow: 1;
    flex-shrink: 1;
    padding: 2.1rem;
    width: calc(100% - 4.2rem);

    .header {
        align-items: baseline;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 2.1rem;

        .title {
            color: $color-ui-nav-headline-normal;
            flex-shrink: 0;
            font-size: 1.8em;
            font-weight: 400;
            line-height: calc(21 / 18);
            margin: 0;
            margin-bottom: -0.4rem;
            margin-top: -0.4rem;
            padding: 0;
            text-transform: uppercase;
        }
    }

    .body {
        @include container-column-stretch;

        -ms-overflow-style: none;
        overflow-y: scroll;

        .list {
            @include container-column-stretch;

            counter-reset: ordered-list;
            flex-shrink: 0;
            list-style: none;
            margin: 0;
            margin-top: 2.1rem;
            padding: 0;

            &:first-child {
                margin-top: 0;
            }

            .item {
                @include container-column-stretch;

                counter-increment: ordered-list;
                flex-shrink: 0;
                margin-bottom: 2.1rem;
                padding: 0;
                text-transform: uppercase;

                .content {
                    font-family: $font-text-monospaced;
                    font-size: 1.1em;
                    font-weight: 400;
                    line-height: 1.182;
                    margin-bottom: -0.3rem;
                    margin-top: -0.2rem;

                    a::after {
                        content: counters(ordered-list, ".") " ";
                        margin-bottom: -0.3rem;
                        margin-left: 1.3rem;
                        margin-top: -0.2rem;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.backdrop {
    background-color: $_black;
}

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .backdrop {
        -webkit-backdrop-filter:saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background-color: transparentize($_black, 0.5);
    }
}
