@import '../styles/colors';
@import '../styles/fonts';

.tableOfContents {
    align-items: stretch;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;

    .header {
        color: $color-ui-nav-headline-normal;
        font-size: 1.8em;
        font-weight: 400;
        line-height: 1.17;
        margin: 0;
        margin-left: 2.1rem;
        margin-right: 2.1rem;
        margin-top: 1.7rem;
        padding: 0;
        text-align: right;
        text-transform: uppercase;
    }

    .list {
        color: $color-ui-nav-headline-normal;
        font-family: $font-text-monospaced;
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.182;
        margin-bottom: 1.8rem;
        margin-left: 2.1rem;
        margin-right: 2.1rem;
        -ms-overflow-style: none;
        overflow-y: scroll;

        ol {
            counter-reset: ordered-list;
            list-style: none;
            margin: 0;
            margin-top: 1.6rem;
            padding: 0;

            li {
                counter-increment: ordered-list;
                margin-bottom: 1.6rem;
                padding: 0;
                text-align: right;
                text-transform: uppercase;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: $color-ui-nav-headline-normal;
                    text-decoration: none;
                    transition: color 0.3s ease-in-out;

                    &:visited {
                        color: $color-ui-nav-headline-normal;
                    }

                    &:hover,
                    &:visited:hover {
                        color: $color-hover;
                        transition: color 0.3s ease-in-out;
                    }

                    &::after {
                        content: counters(ordered-list, ".") " ";
                        margin-left: 1.3rem;
                    }
                }
            }
        }
    }
}

.backdrop {
    background-color: $_black;
}

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .backdrop {
        -webkit-backdrop-filter:saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background-color: transparentize($_black, 0.5);
    }
}
