@import '../styles/colors';
@import '../styles/fonts';

.table {
    border-collapse: collapse;
    font-family: $font-text-sans;
    font-size: calc(15em / 17);
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    thead {
        border-bottom: 3px solid $color-content-table-separator;
        border-top: 3px solid $color-content-table-separator;
        color: $color-content-heading;
        font-weight: 600;
    }

    tbody {
        border-bottom: 3px solid $color-content-table-separator;
        color: $color-content-body;
        font-weight: 300;
    }

    tr {
        border-bottom: 1px solid $color-content-table-separator;
    }
}
