.tableHeader {
  padding-bottom: 2.1rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 2.1rem;

  &:first-child {
    padding-left: 3.4rem;
  }

  &:last-child {
    padding-right: 3.4rem;
  }
}
