@import '../styles/colors';
@import '../styles/fonts';

.wrapper {
    -ms-overflow-style: none;
    overflow-x: scroll;
    width: 100%;
    margin-bottom: 3.4rem;

    .table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        thead {
            border-bottom: 3px solid $color-content-table-separator;
            border-top: 3px solid $color-content-table-separator;
            color: $color-content-heading;
            font-weight: 600;
        }

        tbody {
            border-bottom: 3px solid $color-content-table-separator;
            color: $color-content-body;
            font-weight: 300;
        }

        tr {
            border-bottom: 1px solid $color-content-table-separator;
        }
    }

}