@import '../styles/colors';
@import '../styles/fonts';

.wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 3.4rem;
    -ms-overflow-style: none;
    overflow-x: scroll;
    width: auto;

    @media (max-width: 1440px) {
        margin-left: -2.1rem;
        margin-right: -2.1rem;
    }

    .table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        thead {
            border-bottom: 3px solid $color-content-table-separator;
            border-top: 3px solid $color-content-table-separator;
            color: $color-content-heading;
            font-weight: 600;
        }

        tbody {
            border-bottom: 3px solid $color-content-table-separator;
            color: $color-content-body;
            font-weight: 300;
        }

        tr {
            border-bottom: 1px solid $color-content-table-separator;
        }
    }
}
