@import '../styles/colors';
@import '../styles/fonts';

.summary {
    .tagName {
        font-size: 1.7em;

        &::before {
            content: '[ ';
        }

        &::after {
            content: ' ]';
        }
    }

    .postList {
        ul {
            color: $color-content-body;
            list-style: none;
            padding: 0;

            li {
                display: table;
                margin: 0;
                margin-bottom: 1.3rem;

                h1 {
                    display: inline-block;
                    font-size: 1.5em;
                    font-weight: 500;
                }

                &::before {
                    color: $color-content-list-indicator-light;
                    content: "\2022";
                    display: table-cell;
                    font-size: 1.5em;
                    padding-left: 0.5rem;
                    padding-right: 0.8rem;
                }
            }
        }
    }

    .more {
        font-size: 1.1em;
        font-weight: 400;
        text-transform: uppercase;
    }
}
