@import '../styles/colors';

.taxonomy {
    display: inline-block;

    span {
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1.18em;
        text-transform: uppercase;
    }
}

.taxonomyName {
    color: $color-ui-caption-label;
    display: inline-block;

    &::after {
        content: '|';
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

.taxonomyItemList {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.taxonomyItem {
    display: inline-block;
    margin: 0;
    margin-right: 0.5em;
    padding: 0;
}
