@import '../styles/colors';
@import '../styles/fonts';

.unorderedList {
    padding: 0;
    list-style: none;
    color: $color-content-body;

    li {
        display: table;
        margin-bottom: 0.6rem;
        line-height: 1.7;

        &::before {
            display: table-cell;
            content: "\2022";
            color: $color-content-list-indicator-light;
            padding-right: 1.3rem;
        }
    }

    ul, ol {
        margin: 0;
        margin-top: 0.6rem;

        &:first-child {
            margin-top: 0.6rem;
        }

        li {
            &::before {
                padding-left: 0;
            }
        }
    }
}